
@{
    ViewBag.Title = "ShowBySubcategories";
    Layout = "~/Views/Shared/_CategoriesLayout.cshtml";
}

@model IQueryable<Picaras.Model.Entities.Product>
@if (Model.Any())
{
    <div class="row">
        <div class="container">
            <h2 class="text-center horizontal-line">Artículos de @ViewBag.Subcategory</h2>
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="@item.Picture" alt="@item.Name">
                        <div class="caption">
                            <h3>@item.Name</h3>
                            <p>@item.Description</p>
                            @Html.ActionLink("Detalles", "Index", "Item", new {id = @item.ProductId}, new {@class = "btn btn-info"})
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h2 class="text-center quantity">Uppppsss!!! No hay productos en la categoría: @ViewBag.Subcategory</h2>
}

