@model IEnumerable<Picaras.Model.Entities.Product>
@if (Model.Any())
{
    <div class="row" style="margin-bottom:40px;">
        <div class="container">
            <h2 class="text-center horizontal-line">Artículos de @ViewBag.Category</h2>
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-xs-12">
                    <div class="thumbnail">
                        <img src="@item.Picture" alt="@item.Name">
                        <div class="caption">
                            <div class="name-price">
                                <h3>@item.Name</h3>
                                <p>@item.Price€</p>
                            </div>
                            <p>@item.Description</p>
                            @Html.ActionLink("Detalles", "Index", "Item", new { id = @item.ProductId }, new { @class = "btn btn-info btn-details" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <h2 class="text-center quantity">Uppppsss!!! No hay productos en la categoría: @ViewBag.Category</h2>
}

