@model Picaras.Model.Entities.Customer

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="margin-container">
        <h4>Detalles del Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-success" })
    </p>
