@using Picaras.Model.Entities
@model Picaras.Model.ViewModels.ProductSize
@{
    var descuento = Model.Product.OldPrice - Model.Product.Price;
    if (Model.Product.Picture == null)
    {
        Model.Product.Picture = $"/Content/Images/noImagen.jpg";
    }
}
<div class="container" >
    <h2 class="text-center horizontal-line">Producto: @Model.Product.Name</h2>
</div>
<div class="container" style="margin-bottom:200px;">

    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img class="img-responsive" src="@Model.Product.Picture" alt="@Model.Product.Name" />
    </div>
    <div class="col-md-4">
        <h3>@Model.Product.Name</h3>
        <p style="font-weight: bold">@Model.Product.Description</p>
        <div class="price">
            <p class="original-price">
                @Model.Product.Price €
                @if (descuento > 0 && descuento != Model.Product.Price)
                {
                    <span class="discount">Descuento: @descuento €</span>
                }
            </p>
        </div>
        <div class="id">
            @Html.HiddenFor(model => model.Product.ProductId, new { name = "Id", id = "Id" })
        </div>
        <div class="id">
            @Html.HiddenFor(model => model.Product.ProductCode, new { name = "pc", id = "pc" })
        </div>
        <div class="sizes">
            <div class="form-group">
                @Html.LabelFor(model => model.Sizes, "Tallas", htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownList("Sizes", new SelectList(Model.Sizes), "Seleccciona una talla", htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Sizes, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="quantity">
            <div class="form-group">
                <label class="control-label col-md-2" for="Quantity">Cantidad</label>
                <div class="col-md-10">
                    <select name="Quantity" class="form-control" id="Quantity">
                        @for (var i = 0; i < Model.Product.Quantity; i++)
                        {
                            var val = i + 1;
                            <option value="@val">@val</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="send-car">
            <button class="btn btn-default add-to-cart">Comprar</button>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>

