@using Picaras.Model.ViewModels
@model IEnumerable<ProductCartViewModel>
@{
    if (Model != null && Model.Any())
    {
        var amount = Model.Select((x => x.Product.Price * x.ShoppingCart.Quantity)).Sum();
        var amountNoIVA = (double)amount - ((double)amount * 0.21);
        var IVA = (double)amount * 0.21;


        <div class="container">
            <h2 class="text-center horizontal-line">Estado de Carro de Compra</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Artículo</th>
                        <th>Cantidad</th>
                        <th>Talla</th>
                        <th>Precio</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var totalPrice = item.Product.Price * item.ShoppingCart.Quantity;
                        <tr>
                            <td>@item.Product.Name</td>
                            <td class="qa">@item.ShoppingCart.Quantity</td>
                            <td class="size">@item.ShoppingCart.Size</td>
                            <td>@totalPrice</td>
                            <td class="pc"><button class="btn btn-danger remove-to-cart" id="@item.Product.ProductId">Eliminar</button></td>
                            <td><button class="btn btn-warning edit-to-cart" id="@item.Product.ProductId" data-toggle="modal" data-target="#myModal">Editar Cantidad</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row" style="border: 1px solid #ddd; padding: 10px;">
                <h4 style="margin-bottom: 20px;">Datos del Pedido</h4>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Transport", "Elige Transporte")
                        <select class="form-control" style="width: 50%">

                            @{
                                var agentTransports = Model.FirstOrDefault()?.AgentTransport.OrderBy(x=>x.Price);
                            }
                            @if (agentTransports != null)
                            {
                                foreach (var item in agentTransports)
                                {
                                    <option value="@item.AgentTransportId">
                                        @item.AgentName - @item.Price
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Payment", "Elige Tipo de Pago")
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "creditCard")Tarjeta de Crédito
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "paypal")Paypal
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "bankTransfer")Transferencia Bancaria
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "onsite")Pago en Tienda
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="total-amount">
                        <label style="margin-bottom: 15px;">Total de la Compra</label>
                        <p><strong>Total en Artículos:</strong> @amountNoIVA€</p>
                        <p><strong>Precio Transporte:</strong> 0€</p>
                        <p><strong>IVA 21%:</strong> @IVA€</p>
                        <p><strong>Total a Pagar:</strong> @amount€</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="form-group" style="margin-top: 10px;">
                <button class="btn btn-details finish-shopping">Finalizar Compra</button>
            </div>
        </div>
        <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Modifica la cantidad del artículo</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="Quantity">Cantidad</label>
                                                    <div class="col-md-10 items-edit">
                                                    <input class="hidden-id" type="hidden"/>
                                                        <select name="Quantity" class="form-control" id="quantity-edit">
                                                            @*@for (var i = 0; i < Model.; i++)
                                                                {
                                                                    var val = i + 1;
                                                                    <option value="@val">@val</option>
                                                                }*@
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary save-edit">Guardar Cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                                else
                                {
                                    <h2 class="text-center quantity">Uppppsss!!! No hay productos en la cesta</h2>
                                }
}
