@using Picaras.Model.ViewModels
@model IEnumerable<ProductCartViewModel>
@{
    if (Model != null && Model.Any())
    {
        var amount = Model.Select((x => x.Product.Price * x.ShoppingCart.Quantity)).Sum();
        var amountNoIVA = (double)amount - ((double)amount * 0.21);
        var IVA = (double)amount * 0.21;


        <div class="container">
            <h2 class="text-center horizontal-line">Estado de Carro de Compra</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Artículo</th>
                        <th>Cantidad</th>
                        <th>Talla</th>
                        <th>Precio</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var totalPrice = item.Product.Price * item.ShoppingCart.Quantity;
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.ShoppingCart.Quantity</td>
                            <td>@item.ShoppingCart.Size</td>
                            <td>@totalPrice</td>
                            <td><button class="btn btn-danger remove-to-cart">Eliminar</button></td>
                            <td><button class="btn btn-warning edit-to-cart">Editar Cantidad</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row" style="border: 1px solid #ddd; padding: 10px;">
                <h4 style="margin-bottom: 20px;">Datos del Pedido</h4>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Transport", "Elige Transporte")
                        <select class="form-control" style="width: 50%">

                            @{
                                var agentTransports = Model.FirstOrDefault()?.AgentTransport;
                            }
                            @if (agentTransports != null)
                            {
                                foreach (var item in agentTransports)
                                {
                                    <option value="@item.AgentTransportId">
                                        @item.AgentName - @item.Price
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Payment", "Elige Tipo de Pago")
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "creditCard")Tarjeta de Crédito
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "paypal")Paypal
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "bankTransfer")Transferencia Bancaria
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                @Html.RadioButton("Payment", "onsite")Pago en Tienda
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="total-amount">
                        <label style="margin-bottom: 15px;">Total de la Compra</label>
                        <p><strong>Total en Artículos:</strong> @amountNoIVA€</p>
                        <p><strong>Precio Transporte:</strong> 0€</p>
                        <p><strong>IVA 21%:</strong> @IVA€</p>
                        <p><strong>Total a Pagar:</strong> @amount€</p>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <button class="btn btn-details finish-shopping">Finalizar Compra</button>
            </div>
        </div>
    }

    else
    {
        <h2 class="text-center quantity">Uppppsss!!! No hay productos en la cesta</h2>
    }
}

