@model IEnumerable<Picaras.Model.Entities.AgentTransport>

@{
    ViewBag.Title = "Agencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="margin-container">

<p>
    @Html.ActionLink("Crear nueva Agencia", "Create", null, new { @class = "btn btn-about" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.AgentTransportId }, new { @class = "btn btn-warning btn-product fas fa-edit" })
            @Html.ActionLink(" ", "Details", new { id=item.AgentTransportId }, new { @class = "btn btn-info btn-product fas fa-info" })
            @Html.ActionLink(" ", "Delete", new { id=item.AgentTransportId }, new { @class = "btn btn-danger btn-product fas fa-trash-alt" })
        </td>
    </tr>
}

</table>
</div>
