@model Picaras.Model.Entities.Customer

<div class="row margin-container" id="loginForm">
        <section>
            <div class="container">
                <h2 class="text-center horizontal-line">Ingreso a la Web</h2>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control userName" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label passwordUser" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control passwordUser password-user" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group send-login">
                    <input type="button" value="Ingresar" class="btn btn-default btn-send" id="login" />
                    @*<a class="btn btn-default btn-back-contact" href="/Views/Login/RememberPassword.cshtml">Recordar Contraseña</a>*@
                    @Html.ActionLink("Recordar Contraseña", "RememberPassword", null, new { @class = "btn btn-default btn-back-contact" })

                    @*<input type="button" value="Recordar Contraseña" class="btn btn-default btn-back-contact" id="remember" />*@
                </div>
               
                    <ul class="pager">
                        <li class="previous"><a href="/Register"><span aria-hidden="true">&larr;</span> Nuevo Registro</a></li>
                    </ul>
                
   
                @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
            </div>
            <div class="col-md-4"></div>
        </section>
    </div>

<div class="validationLogin"></div>