@model Picaras.Model.ViewModels.CustomersOdersViewModel
@{ Layout = "~/Views/Shared/_ShoppingLayout.cshtml"; }
<div class="container">
    <h2 class="text-center horizontal-line">Datos Personales del Usuario</h2>
</div>
<div class="user-menu-data">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="nav nav-tabs user-tabs">
            <li role="presentation" class="active user1"><a href="#">Datos del Usuario</a></li>
            <li role="presentation" class="user2"><a href="#">Pedidos Realizados</a></li>
            <li role="presentation" class="user3"><a href="#">Dirección de Envío</a></li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="body-content personal-data">
    <div class="user-data">
        <h3>Datos personales:</h3>
        <p><span>Nombre: </span>@Model.Customer.Name</p>
        <p><span>Apellidos: </span>@Model.Customer.LastName</p>
        <p><span>Correo Electrónico: </span>@Model.Customer.Email</p>
        <p><span>Usuario: </span>@Model.Customer.UserName</p>
        <p><span>Fecha de Nacimiento: </span>@Model.Customer.Birthday</p>
        <p><span>Teléfono de Contacto: </span>@Model.Customer.Phone</p>
    </div>
    <div class="user-buttons">
        <button class="btn btn-details" data-toggle="modal" data-target="#myModal">Modificar Datos</button>
    </div>
</div>

<div class="body-content deliveries" style="display:none;">
    <div class="user-data">
        <h3>Pedidos del Cliente</h3>
        <div class="table-responsive">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th>Número de Pedido</th>
                        <th>Fecha Pedido</th>
                        <th>Transporte</th>
                        <th>Importe Total</th>
                        <th>Estado del Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>@item.OrderDay</td>
                            <td>@item.AgentTransport.AgentName</td>
                            <td>@item.Amount €</td>
                            <td>@item.Status</td>
                            <td><button class="btn btn-warning show-order" id="@item.OrderId" data-toggle="modal" data-target="#orderModal">Revisar Pedido</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="user-buttons">
            <button class="btn btn-details">Modificar Datos</button>
        </div>
    </div>

<div class="body-content address" style="display:none;">
    <div class="user-data">
        <h3>Dirección de Envío</h3>
        <p><span>Calle: </span>@Model.Customer.Address</p>
        <p><span>País: </span>@Model.Customer.Country</p>
        <p><span>Ciudad : </span>@Model.Customer.City</p>
        <p><span>Provincia : </span>@Model.Customer.Region</p>
        <p><span>Código Postal: </span>@Model.Customer.PostCode</p>

    </div>
    <div class="user-buttons">
        <button class="btn btn-details" data-toggle="modal" data-target="#myModal1">Modificar Datos</button>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modifica datos usuario</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditPersonalData", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal margin-container">
                        <h4>Editar Cliente</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Customer.CustomerId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary save-edit">Guardar Cambios</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Modifica dirección</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditAddressData", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal margin-container">
                        <h4>Editar Cliente</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Customer.CustomerId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.Region, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.Region, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer.PostCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer.PostCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary save-edit">Guardar Cambios</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="orderModalLabel">Pedido Número: </h4>
            </div>
            <div class="modal-body" id="id-order">                 
            </div>
        </div>
    </div>
</div>