@using Picaras.Model.Entities
@model IEnumerable<Category>
<div class="navbar navbar-default navbar-menu">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="second-nav collapse">
        <div class="item-nav">@Html.ActionLink("INICIO / ", "Index", "Home")</div>
        <div class="item-nav">@Html.ActionLink("CONTACTO / ", "Index", "Contact")</div>
        <div class="item-nav">@Html.ActionLink("OUTLET / ", "Index", "Outlet")</div>
        @foreach (var item in Model)
        {
            <div class="item-nav">
                @Html.ActionLink(item.Name.ToUpper() + " / ", "Index", "Outlet")
            </div>

            @*foreach (var subcategory in item.Subcategories)
            {
                @Html.ActionLink(subcategory.Name, "Index", "Home")
            }*@

        }
    </div>

</div>
