@model IEnumerable<Picaras.Model.Entities.Product>

@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin-container">
    <p>
        @Html.ActionLink("Crear nuevo producto", "Create", null, new {@class="btn btn-about"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOutlet)
            </th>
            <th>Botones acciones navegación</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subcategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOutlet)
                </td>
                <td style="width: 100%">
                    @Html.ActionLink(" ", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning btn-product fas fa-edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.ProductId }, new { @class = "btn btn-info btn-product fas fa-info" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger btn-product fas fa-trash-alt" })
                </td>
            </tr>
        }

    </table>
</div>